[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/cclow/vim-bufexplorer.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/vim-haproxy"]
	path = bundle/vim-haproxy
	url = https://github.com/Joorem/vim-haproxy.git
