[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-wombat"]
	path = bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/cclow/vim-bufexplorer.git
[submodule "bundle/vim-nginx"]
	path = bundle/vim-nginx
	url = https://github.com/dan-bolsun/vim-nginx.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = https://github.com/dan-bolsun/vim-tmux.git
